<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="in.biencaps.erp.utilities.SuiteListener" />
	</listeners>

	<test thread-count="5" name="UI Test Cases">
		<classes>
			<class
				name="in.biencaps.erp.testCases.LoginAndForgotPasswordTests" />
			<class
				name="in.biencaps.erp.testCases.ProfilePageUpdateTests" />
			<class
				name="in.biencaps.erp.testCases.PasswordChangeTests" />
			<class
				name="in.biencaps.erp.testCases.AddSelfTaskAndCheckInDayViewTests" />
			<class
				name="in.biencaps.erp.testCases.SelfTaskUpdateTests" />
			<class
				name="in.biencaps.erp.testCases.SelfTaskSubmittedTests" />
			<class
				name="in.biencaps.erp.testCases.AddUpdateAssignTaskAndCheckAtEmployeeSideTests" />
			<class
				name="in.biencaps.erp.testCases.SelfTaskDeleteTests" />
			<class name="in.biencaps.erp.testCases.LogoutTests" />
		</classes>
	</test>
</suite> 
