<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Login And Forgot Password Functionality">
		<classes>
			<class
				name="com.biencaps.erp.testCases.LoginAndForgotPasswordFunctionality" />
		</classes>
	</test>
	<test thread-count="5"
		name="Add Self Task And Check In Day View Functionality">
		<classes>
			<class
				name="com.biencaps.erp.testCases.AddSelfTaskAndCheckInDayViewFunctionality" />
		</classes>
	</test>
	<test thread-count="5"
		name="Self Task Update Functionality">
		<classes>
			<class
				name="com.biencaps.erp.testCases.SelfTaskUpdateFunctionality" />
		</classes>
	</test>
	<test thread-count="5"
		name="Self Task Submitted Functionality">
		<classes>
			<class
				name="com.biencaps.erp.testCases.SelfTaskSubmittedFunctionality" />
		</classes>
	</test>
	<test thread-count="5"
		name="Self Task Delete Functionality">
		<classes>
			<class
				name="com.biencaps.erp.testCases.SelfTaskDeleteFunctionality" />
			<class name="com.biencaps.erp.testCases.LogoutFunctionality" />
		</classes>
	</test>
</suite> 
