<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss} %logger{36} - %msg%n" />
		</Console>
		<File name="SuiteListener"
			fileName="Logs/SuiteListener.log">
			<PatternLayout
				pattern="%d{HH:mm:ss} %logger{36} - %msg%n" />
		</File>
		<File name="BaseTest"
			fileName="Logs/BaseTest.log">
			<PatternLayout
				pattern="%d{HH:mm:ss} %logger{36} - %msg%n" />
		</File>
		<File name="LoginAndForgotPasswordTests"
			fileName="Logs/LoginAndForgotPasswordTests.log">
			<PatternLayout
				pattern="%d{HH:mm:ss} %logger{36} - %msg%n" />
		</File>
		<File name="ProfilePageUpdateTests"
			fileName="Logs/ProfilePageUpdateTests.log">
			<PatternLayout
				pattern="%d{HH:mm:ss} %logger{36} - %msg%n" />
		</File>
		<File name="PasswordChangeTests"
			fileName="Logs/PasswordChangeTests.log">
			<PatternLayout
				pattern="%d{HH:mm:ss} %logger{36} - %msg%n" />
		</File>
		<File name="LogoutTests"
			fileName="Logs/LogoutTests.log">
			<PatternLayout
				pattern="%d{HH:mm:ss} %logger{36} - %msg%n" />
		</File>
		<File name="AddSelfTaskAndCheckInDayViewTests"
			fileName="Logs/AddSelfTaskAndCheckInDayViewTests.log">
			<PatternLayout
				pattern="%d{HH:mm:ss} %logger{36} - %msg%n" />
		</File>
		<File name="MyActivitiesTests"
			fileName="Logs/MyActivitiesTests.log">
			<PatternLayout
				pattern="%d{HH:mm:ss} %logger{36} - %msg%n" />
		</File>
		<File name="RequestTests"
			fileName="Logs/RequestTests.log">
			<PatternLayout
				pattern="%d{HH:mm:ss} %logger{36} - %msg%n" />
		</File>
		<File name="CommonTestMethods"
			fileName="Logs/CommonTestMethods.log">
			<PatternLayout
				pattern="%d{HH:mm:ss} %logger{36} - %msg%n" />
		</File>
		<File name="SelfTaskUpdateTests"
			fileName="Logs/SelfTaskUpdateTests.log">
			<PatternLayout
				pattern="%d{HH:mm:ss} %logger{36} - %msg%n" />
		</File>
		<File name="AddUpdateAssignTaskAndCheckAtEmployeeSideTests"
			fileName="Logs/AddUpdateAssignTaskAndCheckAtEmployeeSideTests.log">
			<PatternLayout
				pattern="%d{HH:mm:ss} %logger{36} - %msg%n" />
		</File>
		<File name="SelfTaskSubmittedTests"
			fileName="Logs/SelfTaskSubmittedTests.log">
			<PatternLayout
				pattern="%d{HH:mm:ss} %logger{36} - %msg%n" />
		</File>
		<File name="SelfTaskDeleteTests"
			fileName="Logs/SelfTaskDeleteTests.log">
			<PatternLayout
				pattern="%d{HH:mm:ss} %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Logger
			name="in.biencaps.erp.utilities.SuiteListener"
			level="all"
			additivity="false">
			<AppenderRef ref="SuiteListener" />
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="in.biencaps.erp.testCases.BaseTest"
			level="all"
			additivity="false">
			<AppenderRef ref="BaseTest" />
			<AppenderRef ref="Console" />
		</Logger>
		<Logger
			name="in.biencaps.erp.testCases.LoginAndForgotPasswordTests"
			level="all"
			additivity="false">
			<AppenderRef ref="LoginAndForgotPasswordTests" />
			<AppenderRef ref="Console" />
		</Logger>
		<Logger
			name="in.biencaps.erp.testCases.ProfilePageUpdateTests"
			level="all"
			additivity="false">
			<AppenderRef ref="ProfilePageUpdateTests" />
			<AppenderRef ref="Console" />
		</Logger>
		<Logger
			name="in.biencaps.erp.testCases.PasswordChangeTests"
			level="all"
			additivity="false">
			<AppenderRef ref="PasswordChangeTests" />
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="in.biencaps.erp.testCases.LogoutTests"
			level="all"
			additivity="false">
			<AppenderRef ref="LogoutTests" />
			<AppenderRef ref="Console" />
		</Logger>
		<Logger
			name="in.biencaps.erp.testCases.AddSelfTaskAndCheckInDayViewTests"
			level="all"
			additivity="false">
			<AppenderRef ref="AddSelfTaskAndCheckInDayViewTests" />
			<AppenderRef ref="Console" />
		</Logger>
		<Logger
			name="in.biencaps.erp.testCases.MyActivitiesTests"
			level="all"
			additivity="false">
			<AppenderRef ref="MyActivitiesTests" />
			<AppenderRef ref="Console" />
		</Logger>
		<Logger
			name="in.biencaps.erp.testCases.RequestTests"
			level="all"
			additivity="false">
			<AppenderRef ref="RequestTests" />
			<AppenderRef ref="Console" />
		</Logger>
		<Logger
			name="in.biencaps.erp.utilities.CommonTestMethods"
			level="all"
			additivity="false">
			<AppenderRef ref="CommonTestMethods" />
			<AppenderRef ref="Console" />
		</Logger>
		<Logger
			name="in.biencaps.erp.testCases.SelfTaskUpdateTests"
			level="all"
			additivity="false">
			<AppenderRef ref="SelfTaskUpdateTests" />
			<AppenderRef ref="Console" />
		</Logger>
		<Logger
			name="in.biencaps.erp.testCases.AddUpdateAssignTaskAndCheckAtEmployeeSideTests"
			level="all"
			additivity="false">
			<AppenderRef
				ref="AddUpdateAssignTaskAndCheckAtEmployeeSideTests" />
			<AppenderRef ref="Console" />
		</Logger>
		<Logger
			name="in.biencaps.erp.testCases.SelfTaskSubmittedTests"
			level="all"
			additivity="false">
			<AppenderRef ref="SelfTaskSubmittedTests" />
			<AppenderRef ref="Console" />
		</Logger>
		<Logger
			name="in.biencaps.erp.testCases.SelfTaskDeleteTests"
			level="all"
			additivity="false">
			<AppenderRef ref="SelfTaskDeleteTests" />
			<AppenderRef ref="Console" />
		</Logger>
	</Loggers>
</Configuration>
